* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.portfolio {
  opacity: 0;
  transform: scale(1.03);

  transition:
    opacity 1s ease,
    transform 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.portfolio.visible {
  opacity: 1;
  transform: scale(1);
}